# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.nn# dependenciesn/node_modulesn/.pnpn.pnp.*n.yarn/*n!.yarn/patchesn!.yarn/pluginsn!.yarn/releasesn!.yarn/versionsnn# testingn/coveragenn# next.jsn/.next/n/out/nn# productionn/buildnn# miscn.DS_Storen*.pemnn# debugnnpm-debug.log*nyarn-debug.log*nyarn-error.log*n.pnpm-debug.log*nn# env files (can opt-in for committing if needed)n.env*nn# verceln.vercelnn# typescriptn*.tsbuildinfonnext-env.d.ts